<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Language Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script>
      window.onload = function () {
        setTimeout(() => {
          document.getElementById("loading-bar").style.width = "100%";
        }, 1000);
      };
    </script>
  </head>
  <body>
    <!-- Loading Bar -->
    <div id="loading-bar-container">
      <div id="loading-bar"></div>
    </div>

    <!-- Background Image -->
    <div class="background">
      <div class="container">
        <h1>Language Detection</h1>
        <form id="detection-form" action="/predict" method="post">
          <label for="text">Enter text:</label><br />
          <input type="text" id="text" name="text" required /><br /><br />
          <input type="submit" value="Detect Language" />
        </form>
        <div id="result" class="result"></div>

        <!-- Navigation Links -->
        <div class="navigation">
          <a href="{{ url_for('about') }}">About</a>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
