<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Language Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script>
      window.onload = function () {
        setTimeout(() => {
          document.getElementById("loading-bar").style.width = "100%";
        }, 1000);
      };
    </script>
  </head>
  <body>
    <div id="loading-bar-container">
      <div id="loading-bar"></div>
    </div>

    <div class="background">
      <div class="container">
        <h1>Language Detection</h1>
        <form id="detection-form" action="/predict" method="post">
          <label for="text">Enter text:</label><br />
          <input type="text" id="text" name="text" required /><br /><br />
          <input type="submit" value="Detect Language" />
        </form>
        <div id="result" class="result"></div>
      </div>
    </div>

    <script>
      const languageNames = {
        hi: "Hindi",
        bn: "Bengali",
        te: "Telugu",
        mr: "Marathi",
        ta: "Tamil",
        gu: "Gujarati",
        kn: "Kannada",
        ml: "Malayalam",
        pa: "Punjabi",
        ur: "Urdu",
        or: "Odia",
        as: "Assamese",
        sa: "Sanskrit",
        // Add more Indian language codes and names as needed
      };

      function updateResult(data) {
        const resultElement = document.getElementById("result");
        if (data.error) {
          resultElement.innerHTML = `<b>Error:</b> ${data.error}`;
          resultElement.classList.add("error");
        } else {
          const languageCode = data.language;
          const languageName = languageNames[languageCode] || "Unknown";
          resultElement.innerHTML = `
          <b>Detected Language:</b> ${languageName}<br />
          
        `;
          resultElement.classList.remove("error");
        }
      }

      const form = document.getElementById("detection-form");
      form.addEventListener("submit", function (event) {
        event.preventDefault();
        const text = document.getElementById("text").value;

        fetch("/predict", {
          method: "POST",
          body: JSON.stringify({ text: text }),
          headers: { "Content-Type": "application/json" },
        })
          .then((response) => response.json())
          .then((data) => updateResult(data))
          .catch((error) => console.error(error));
      });
    </script>
  </body>
</html>
